/Lab_2/nbproject/private/
/Lab_2/build/
/Lab_3/nbproject/private/
/Lab_3/build/
/ClassObject/nbproject/private/
/LabReportQuestions/nbproject/private/
/LabReportQuestions/build/
/Inheritace/build/
/Inheritace/nbproject/private/
