/Lab_2/nbproject/private/
/Lab_2/build/
/Lab_3/nbproject/private/
/Lab_3/build/
/ClassObject/nbproject/private/
/LabReportQuestions/nbproject/private/
/LabReportQuestions/build/
/JavaApplication5/nbproject/private/
/Lab_4/nbproject/private/
/Lab_4/build/
